@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?zzenu');
  src:  url('fonts/icomoon.eot?zzenu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?zzenu') format('truetype'),
    url('fonts/icomoon.woff?zzenu') format('woff'),
    url('fonts/icomoon.svg?zzenu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-play:before {
  content: "\ea15";
}
.icon-pause:before {
  content: "\ea16";
}
.icon-stop:before {
  content: "\ea17";
}
.icon-arrow-up:before {
  content: "\ea32";
}
